@using System.Drawing
@model List<PokeApiNet.Pokemon>
@{
    var TypeColors = ViewBag.TypeColors as Dictionary<string, Color>;

}
<body>
    <div class="text-center">
        <h1 class="display-4"></h1>
        <div class="table-container">
            <table>
                <tr>
                    <th class="dex-column">Dex Nr.</th>
                    <th>Pokemon Name</th>
                    <th>Type(s)</th>
                </tr>

                @foreach (var pokemon in Model)
                {
                    @if (pokemon.Types.Count == 1)
                    {
                        var typeColor = TypeColors.Where(x => x.Key == pokemon.Types[0].Type.Name).FirstOrDefault();
                        <tr style="background-color: rgba(@typeColor.Value.R,@typeColor.Value.G,@typeColor.Value.B,@typeColor.Value.A);">
                            <td class="dex-column">@pokemon.Id</td>
                            <td class="Name-column">@pokemon.Name</td>
                            <td class="type-column">
                                @pokemon.Types[0].Type.Name
                            </td>
                        </tr>
                    }
                    else
                    {
                        var typeColor1 = TypeColors.Where(x => x.Key == pokemon.Types[0].Type.Name).FirstOrDefault();
                        var typeColor2 = TypeColors.Where(x => x.Key == pokemon.Types[1].Type.Name).FirstOrDefault();
                        <tr style="background-color: #D9AFD9;background-image: linear-gradient(45deg, rgba(@typeColor1.Value.R,@typeColor1.Value.G,@typeColor1.Value.B,@typeColor1.Value.A) 0%, rgba(@typeColor2.Value.R,@typeColor2.Value.G,@typeColor2.Value.B,@typeColor2.Value.A) 100%);">
                            <td class="dex-column">@pokemon.Id</td>
                            <td class="Name-column">@pokemon.Name</td>
                            <td class="type-column">
                                @($"{pokemon.Types[0].Type.Name} + {pokemon.Types[1].Type.Name}")
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</body>
<style>
    .text-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .table-container {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    table {
        border-collapse: collapse;
        width: 50%;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .dex-column {
        width: 12%;
    }

    .name-column {
    }

    .type-column {
        width: 25%;
    }

    body {
        background-image: url('/images/pokewall.jpg');
        background-size: cover;
        background-attachment: fixed;
    }
</style>
